<div id="user_metadata">
  <div class="user_data">
    <%= "Total Posts: " + @user.posts.count.to_s %>
  </div>
  <div class="user_data">
    <%= "Followers: " + @user.followers.count.to_s %>
  </div>
  <div class="user_data">
    <%= "Following: " + @user.following.count.to_s %>
  </div>
</div>